<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.mule.tooling.maven.muleWithMavenLaunchType">
<stringAttribute key="launch_mule_server_version" value="org.mule.tooling.server.3.7.3.ee"/>
<listAttribute key="mule-project-names">
<listEntry value="xml-JSON"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="xml-JSON"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-XX:PermSize=128M -XX:MaxPermSize=256M"/>
</launchConfiguration>
